<div class="modal-header">
        <div class="title">Detalii obiect inventar</div>
        <button type="button" class="close" aria-label="Close" (click)="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
            Aici afisez lista in functie de cum imi dai raspunsul probabil intr-un tabel.
    </div>
    <div class="modal-footer">
        <button type="button" class="salvare" (click)="cancel()">Inchide</button>
    </div>