<div class="content">
    <select class="select" name="group">
        <option value= 0> - Grupa- </option>
        <option value= 1>Grupa 1</option>
        <option value= 2>Grupa 2</option>
    </select> 

    <select class="select" name="category">
        <option value= 0> - Categorie - </option>
        <option value= 1>Categoria 1</option>
        <option value= 2>Categoria 2</option>
    </select> 

    <select class="select" name="article">
        <option value= 0> - Articol - </option>
        <option value= 1>Articol 1</option>
        <option value= 2>Articol 2</option>
    </select> 

    <div class="divider"> </div>

    <select class="select" name="unit">
        <option value= 0> - Unitate - </option>
        <option value= 1>Unit 1</option>
        <option value= 2>Unit 2</option>
    </select> 

    <select class="select" name="split">
        <option value= 0> - Tip de repartizare - </option>
        <option value= 1>Repartizare 1</option>
        <option value= 2>Repartizare 2</option>
    </select> 

    <input type="text" placeholder="Valoare">

    <div class="divider"> </div>

    <div class="textfield">
        <label class="label">Unitate 3</label><input type="text"> <input type="text" class="weight" readonly>
    </div>

    <div class="textfield">
        <label class="label">Unitate 3</label><input type="text"> <input type="text" class="weight" readonly>
    </div>

    <div class="textfield">
        <label class="label">Unitate 3</label><input type="text"> <input type="text" class="weight" readonly>
    </div>

    <button type="submit" class="salvare">
        Salvare
    </button>
    <i class="fa fa-save"></i>


</div>
