<div class="content">

    <select class="select" name="group" [(ngModel)]="selectedGroupCode" (change)="selectGroupOrCategory(true)">
        <option value= ""> - Grup - </option>
        <option *ngFor="let g of groupList" [value]="g.code">{{g.name}}</option>
    </select> 
    <select class="select" name="category" [(ngModel)]="selectedCategoryCode" (change)="selectGroupOrCategory(false)">
            <option value= ""> - Categorie - </option>
            <option *ngFor="let c of categoryListDisplay" [value]="c.code">{{c.name}}</option>
    </select> 

    <ng-select class="autocomplete"
        [items]="articleListDisplay"
        bindLabel="composedName"
        bindValue="id"
        name="entity"
        [(ngModel)]="selectedArticleId" 
        (change)="initialInit()">
    </ng-select>

    <div class="divider" *ngIf="selectedArticleId"> </div>

    <select class="select" name="unit" *ngIf="selectedArticleId" [(ngModel)]="selectedUnitId">
        <option value= 0> - Unitate - </option>
        <option *ngFor="let u of unitList" [value]="u.id">{{u.name}}</option>
    </select> 

    <select class="select" name="split" *ngIf="selectedUnitId" [(ngModel)]="selectedSplitId">
        <option value= 0> - Tip de repartizare - </option>
        <option *ngFor="let s of splitList" [value]="s.id">{{s.name}}</option>
    </select> 
    <input type="text" placeholder="Valoare" *ngIf="selectedSplitId" [(ngModel)]="setedValue">
    <div *ngIf="selectedSplitId">
        <div class="divider"> </div>
        <app-split-on-custom *ngIf="selectedSplitId === '4'" [value]="setedValue" ></app-split-on-custom>
        <app-split-on-percentage *ngIf="selectedSplitId === '1'" [value]="setedValue" [articleId]="selectedArticleId" [unitId]="selectedUnitId"></app-split-on-percentage>
        <app-split-on-universal *ngIf="selectedSplitId !== '1' && selectedSplitId !== '4'" [value]="setedValue"></app-split-on-universal>
    </div>

</div>
