<div class="content">
    <div class="row">
        <div class="col">
            Articol
            <ng-select [items]="articleListDisplay"
                bindLabel="composedName"
                bindValue="id"
                [(ngModel)]="selectedArticleId">
            </ng-select>
        </div>
        <div class="col">
            Filtre
            <select class="select" name="unit" [(ngModel)]="selectedGroupCode" (change)="selectGroupOrCategory(true)">
                    <option value= ""> - Grup - </option>
                    <option *ngFor="let g of groupList" [value]="g.code">{{g.name}}</option>
            </select> 
            <select class="select" name="unit" [(ngModel)]="selectedCategoryCode" (change)="selectGroupOrCategory(false)">
                    <option value= ""> - Categorie - </option>
                    <option *ngFor="let c of categoryListDisplay" [value]="c.code">{{c.name}}</option>
            </select> 
        </div>
    </div>
    <div class="divider" *ngIf="selectedArticleId"> </div>

    <select class="select" name="unit" *ngIf="selectedArticleId" [(ngModel)]="selectedUnitId">
        <option value= 0> - Unitate - </option>
        <option *ngFor="let u of unitList" [value]="u.id">{{u.name}}</option>
    </select> 

    <select class="select" name="split" *ngIf="selectedUnitId" [(ngModel)]="selectedSplitId">
        <option value= 0> - Tip de repartizare - </option>
        <option *ngFor="let s of splitList" [value]="s.id">{{s.name}}</option>
    </select> 
    <input type="text" placeholder="Valoare" *ngIf="selectedSplitId">
    <div *ngIf="selectedSplitId">
        <div class="divider"> </div>
        <app-split-on-custom *ngIf="selectedSplitId === '4'"></app-split-on-custom>
        <app-split-on-percentage *ngIf="selectedSplitId === '1'"></app-split-on-percentage>
        <app-split-on-universal *ngIf="selectedSplitId !== '1' && selectedSplitId !== '4'"></app-split-on-universal>
    </div>

</div>
