universal
<div class="textfield">
        <label class="label">Unitate 3</label><input type="text"> <input type="text" class="weight" readonly>
    </div>

    <div class="textfield">
        <label class="label">Unitate 3</label><input type="text"> <input type="text" class="weight" readonly>
    </div>

    <div class="textfield">
        <label class="label">Unitate 3</label><input type="text"> <input type="text" class="weight" readonly>
    </div>

    <button type="submit" class="salvare">
        Salvare
    </button>
    <i class="fa fa-save"></i>