<div class="row" *ngIf="!canSave">
    <div class="col">
        Suma ramasa de alocat:{{remainingSum}}
        <button type="button" class="salvare" (click)="readData()">Renunta</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="textfield" *ngFor="let e of elementList; index as i">
            <label class="label">{{e.unitName}}</label>
            <input type="text" name="elementValue_{{i}}" [(ngModel)]="e.value" (change)=calculateRemainingSum()>
        </div>
    </div>
</div>