<form role="form" (submit)="onSubmit()">
    <div>
        <input required [(ngModel)]="username" type="text" class="username" name="un"
                id="un"
                autocomplete="off"
                placeholder="utilizator">
    </div>
    <div>
        <input required [(ngModel)]="password" type="password" class="password" id="pas"
                name="pas"
                placeholder="parola">
    </div>
    <div class="alert" *ngIf="showAlert" (click)="closeAlert()">
        Utilizator sau parola gresite!
    </div>
    <div>
        <button type="submit" class="conectare">
            Conectare
        </button>
    </div>
</form>