.username {
    color: black;
    border: none;
    border-bottom-color: #34bfa3;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-align: center;
    width: 20%;
    margin-left: 40%;
    height: 30px;
    margin-top: 10%;
    font-family: Roboto;
    font-size: 12px;
}
.password {
    color: black;
    border: none;
    text-align: center;
    width: 20%;
    margin-left: 40%;
    height: 30px;
    font-family: Roboto;
    font-size: 12px;
}
.conectare {
    background-clip: border-box;
    height: 30px;
    background-color: transparent;
    width: 20%;
    margin-left: 40%;
    cursor: pointer;
    margin-top: 5%;
    font-family: Roboto;
    font-size: 12px;
}
.conectare:hover {
    border-color: #9816f4;
    -webkit-transition: width 2s;
    transition: width 2s;
}
.alert {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: red;
    font-size: 10px;
    position: absolute;
    cursor: default;
}
:focus {
    outline: 0;
}