<div class="content">

    <select class="select" name="unit" [(ngModel)]="selectedUnitId" (change)="readResults()">
        <option value= 0> - Unitate - </option>
        <option *ngFor="let u of unitList" [value]="u.id">{{u.name}}</option>
    </select> 

    <select class="select" name="group" [(ngModel)]="selectedGroupCode" (change)="selectGroupOrCategory(true)">
        <option value= ""> - Grup - </option>
        <option *ngFor="let g of groupList" [value]="g.code">{{g.name}}</option>
    </select> 
    <select class="select" name="category" [(ngModel)]="selectedCategoryCode" (change)="selectGroupOrCategory(false)">
            <option value= ""> - Categorie - </option>
            <option *ngFor="let c of categoryListDisplay" [value]="c.code">{{c.name}}</option>
    </select> 
    <select class="select" name="splited" [(ngModel)]="filterSplited" (change)="readResults()">
        <option value= 0> - Doar cele nedistribuite - </option>
        <option value= 1> - Doar cele distribuite - </option>
        <option value= 2> - Distribuite sau nedistribuite - </option>
    </select>
    <select class="select" name="parent" [(ngModel)]="filterEntered" (change)="readResults()">
        <option value= 0> - Doar cele introduse - </option>
        <option value= 1> - Doar cele calculate - </option>
        <option value= 2> - Introduse sau calculate - </option>
    </select>

    <ng-select class="autocomplete"
        [items]="articleListDisplay"
        bindLabel="composedName"
        bindValue="id"
        name="entity"
        [(ngModel)]="selectedArticleId" 
        (change)="changeArticle()">
    </ng-select>

    <div class="divider"> </div>

    <button type="button" class="salvare" (click)="addFactura()">Adauga</button>

    <select class="select" name="pagesize" [(ngModel)]="pageSize" (change)="readResults()">
        <option value= 10> Afisaza 10 </option>
        <option value= 50> Afisaza 50 </option>
        <option value= 100> Afisaza 100 </option>
        <option value= 9999999> Afisaza toate </option>
    </select>

    <span (click)="paginaStanga()" *ngIf="pageNo>1"> <i class="fa fa-chevron-left"></i> </span> Pagina {{pageNo}} din {{pageMax}} <span (click)="paginaDreapta()" *ngIf="pageNo<pageMax"> <i class="fa fa-chevron-right"></i> </span>

    <table class="table">
        <thead>
        <tr>
            <th style="width:5%">#</th>
            <th style="width:10%">Unitate</th>
            <th style="width:5%">Cod</th>
            <th style="width:35%">Articol</th>
            <th style="width:5%">Suma</th>
            <th style="width:35%">Descriere</th>
            <th style="width:5%"></th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let exp of expensesList; let i = index">
                <td>{{i + 1}}</td>
                <td>{{ unitName(exp.unitId) }}</td>
                <td>{{ codeName(exp.groupId, exp.categoryId, exp.articleId) }}</td>
                <td>{{ articleName(exp.articleId) }}</td>
                <td>{{ exp.amount }}</td>
                <td>{{ exp.description }}</td>
                <td><i class="fa fa-trash" (click)="confirmDelete(exp.id)"></i></td>
            </tr>
        </tbody>
    </table>

</div>
