<div class="modal-header">
    <div class="title">De repartizat: {{decimalize(value)}} lei</div>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <select class="select" name="split" [(ngModel)]="toSelectedSplitCode" (change)="changeSplit()">
        <option value= 'NUL'> - Tip de repartizare - </option>
        <option *ngFor="let s of splitList" [value]="s.code">{{s.name}}</option>
    </select>
    
    <div *ngIf="selectedSplitCode !== 'NUL'">
        <div class="divider"> </div>
        <app-split-on-custom *ngIf="selectedSplitCode === 'MAN'" [value]="value" [splitObject]="splitObject" (saveOk)="receiveMessage($event)"> </app-split-on-custom>
        <app-split-on-percentage *ngIf="selectedSplitCode === 'PRC'" [value]="value" [splitObject]="splitObject" (saveOk)="receiveMessage($event)"></app-split-on-percentage>
        <app-split-on-universal *ngIf="selectedSplitCode !== 'MAN' && selectedSplitCode !== 'PRC'" [value]="value" [splitObject]="splitObject" (saveOk)="receiveMessage($event)"></app-split-on-universal>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="salvare" (click)="doSave()" [disabled]="!canSave || !valid()">Imparte</button>
</div>