<div class="modal-header">
<div class="title">Repartizarea sumei {{exp.amount}} lei pe {{unitListNameMap.get(exp.unitId)}} dupa {{splitListNameMap.get(exp.splitId)}}</div>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="textfield" *ngFor="let e of splitObject.children; index as i">
        <label class="label">{{e.unitName}}</label>
        <input type="text" name="elementValue_{{i}}" [(ngModel)]="e.value" [disabled]="true"> 
        <input type="text" name="elementWeight_{{i}}" [(ngModel)]="e.weight" [disabled]="true"> 
    </div>
</div>