<div class="content">

    <select class="select" name="group" [(ngModel)]="selectedGroupCode" (change)="selectGroupOrCategory(true)">
        <option value= ""> - Grup - </option>
        <option *ngFor="let g of groupList" [value]="g.code">{{g.name}}</option>
    </select> 
    <select class="select" name="category" [(ngModel)]="selectedCategoryCode" (change)="selectGroupOrCategory(false)">
            <option value= ""> - Categorie - </option>
            <option *ngFor="let c of categoryListDisplay" [value]="c.code">{{c.name}}</option>
    </select> 

    <ng-select class="autocomplete"
        [items]="articleListDisplay"
        bindLabel="composedName"
        bindValue="id"
        name="entity"
        [(ngModel)]="selectedArticleId" 
        (change)="changeArticle()">
    </ng-select>

    <select class="select" name="unit" [(ngModel)]="selectedUnitId" (change)="readResults()">
        <option value= 0> - Unitate - </option>
        <option *ngFor="let u of unitList" [value]="u.id">{{u.name}}</option>
    </select> 

    <div class="divider"> </div>

    <div class="card-body" *ngIf="gotResults">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Unitate</th>
                <th>Articol</th>
                <th>Grupa</th>
                <th>Categorie</th>
                <th>Suma</th>
                <th>Descriere</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let exp of expensesList; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{ exp.unit }}</td>
                    <td>{{ exp.article }}</td>
                    <td>{{ exp.group }}</td>
                    <td>{{ exp.category }}</td>
                    <td>{{ exp.value }}</td>
                    <td>{{ exp.description }}</td>
                    <td><button type="button" class="adauga" (click)="confirmDelete(exp.id)">Sterge</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="adauga" (click)="addFactura()">Adauga</button>
</div>
