<div class="modal-header">
        <div class="title">Detaliu Cheltuiala</div>
        <button type="button" class="close" aria-label="Close" (click)="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Cheltuiala pe unitatea {{unitListNameMap.get(exp.unitId)}} in valoare de {{exp.amount}} impartita dupa {{splitListNameMap.get(exp.splitId)}}
            <div class="textfield" *ngFor="let e of splitObject.children; index as i">
                    <label class="label">{{e.unitName}}</label>
                    <input type="text" name="elementValue_{{i}}" [(ngModel)]="e.value" [disabled]="true"> 
                    <input type="text" name="elementWeight_{{i}}" [(ngModel)]="e.weight" [disabled]="true"> 
    </div>
    <div class="modal-footer">
        <button type="button" class="salvare" (click)="cancel()">Inapoi</button>
    </div>