<div class="content">
    <select>
        <option value="0">-</option>
        <option value="1">Numar zile spitalizare</option>
    </select>
    <div class="divider">

    </div> 
    <div class="textfield">
        <label class="label">Cardiologie</label><input type="text">
    </div>
    <div class="textfield">
        <label class="label">Medicina interna</label><input type="text">
    </div>

    <div class="textfield">
        <label class="label">Neurologie</label><input type="text">
    </div>

    <button type="submit" class="salvare">
        Salvare
    </button>
</div>
