<div class="content">
    <select class="select" name="mountlyType" [(ngModel)]="monthlyTypeId" (change)="changeMonthlyType()">
        <option value= 0>-</option>
        <option *ngFor="let m of monthlyTypeList" [value]="m.id">{{m.name}}</option>
    </select> 
    <div class="divider">

    </div> 
    <div class="textfield" *ngFor="let d of domainList; index as i">
        <label class="label">{{d.name}}</label><input type="text" name="domain_{{i}}" [(ngModel)]="d.value">
    </div>
    <button type="submit" class="salvare" *ngIf="domainList.length > 0" (click)="doSave()">
        Salvare
    </button>
</div>
