.layer {
    height : 80px;
    background-color: white;
    width: 100%;
    box-shadow: 0 1px 15px 1px rgba(69,65,78,.1);
}
.item {
    height: 80px;
    line-height: 80px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    color: #676c7b;
    text-transform: uppercase;
    cursor: pointer;
    font-family: Roboto;
    font-size: 12px;
}
.item:hover {
    color: #9816f4;
    -webkit-transition: width 2s;
    transition: width 2s;
}
:focus {
    outline: 0;
}
.user {
    height: 80px;
    line-height: 80px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    color: #676c7b;
    float: right;
    font-family: Roboto;
    font-size: 12px;
}