.layer {
    height : 80px;
    background-color: white;
    width: 100%;
    box-shadow: 0 1px 15px 1px rgba(69,65,78,.1);
}
.item {
    height: 80px;
    line-height: 80px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    color: #676c7b;
    text-transform: uppercase;
    cursor: pointer;
    font-family: Roboto;
    font-size: 12px;
}
.item:hover {
    color: #9816f4;
    -webkit-transition: width 2s;
    transition: width 2s;
}
:focus {
    outline: 0;
}
.user {
    height: 80px;
    line-height: 80px;
    margin-left: 20px;
    margin-right: 20px;
    color: #676c7b;
    float: right;
    font-family: Roboto;
    font-size: 12px;
}
.select {
    width: 200px;
    margin-left: 15%;
    border: 1px solid #34bfa3;
    height: 36px;
    padding-left: 15px;
    background-color: white;
    font-family: Roboto;
    text-transform: uppercase;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
    background-position: 98% 50%;
    background-repeat: no-repeat;
    font-size: 12px;
}
.select:focus {
    outline: 0;
}
.select:hover {
    border: 1px solid #9816f4;
}
.logout {
    margin-left: 10px;
    font-size: 15px;
    cursor: pointer;
}
.admin {
    font-size: 16px;
    margin-left: 10px;
}