<div class="layer">
    <img src="pics/graph.png" width="50" height="50" alt="">
    <div class="item" *ngIf="hasRight('VDL')"  [routerLink]="['/home/date_lunare']">
        <span> <i class="fa fa-plus fw"></i> </span>
        Date Lunare
    </div>
    <div class="item" *ngIf="hasRight('VCHEADD')" [routerLink]="['/home/facturi']">
        <span> <i class="fa fa-plus fw"></i> </span>
        Adaugare Cheltuieli
    </div>
    <div class="item" *ngIf="hasRight('VCHE')" [routerLink]="['/home/cheltuieli']">
        <span> <i class="fa fa-minus fw"></i> </span>
        Impartire Cheltuieli
    </div>
    <div class="item" *ngIf="hasRight('VRAP')" [routerLink]="['/home/rapoarte']">
        <span> <i class="fa fa-remove fw"></i> </span>
        Rapoarte
    </div>     
    <select class="select" name="selMon" [(ngModel)]="selectedMonth" (change)="changeSelectedMonth()">
            <option *ngFor="let m of monthList" [value]="m.val">{{m.name}}</option>
    </select>    
    <div class="user">
        {{loggedUser}} - {{loggedUserRole}}
        <i (click)="doLogOff()" class="fa fa-power-off logout"></i>
    </div>         

</div>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
